@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  height: auto;
}



header {
    width: 100%;
    height: 70px;
    background-color: rgb(200, 200, 200, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 10;
}


nav {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 6%;
}

.Web-Name {
    cursor: pointer;
    font-size: 30px;
    color: rgb(255, 89, 0);
    font-family: "Play", sans-serif;
}

.box {
    width: 50%;
    height: 45px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    border: 1px solid rgb(255, 89, 0);
    box-shadow: 0 2px 4px 0 rgba(30, 30, 30, 0.2), 0 4px 10px 0 rgba(30,30, 30, 0.19);
}

.navigation-button {
    width: 12%;
    height: 45px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(255, 89, 0);
    border: none;
    cursor: pointer;
}

.search-input {
    outline: none;
    border: none;
    width: 90%;
    height: 40px;
    font-size: 20px;
    
}

[type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

.fa-magnifying-glass {
    font-size: 20px;
    color: rgb(255, 89, 0);
    cursor: pointer;
}



.Shop {
    width: 12%;
    height: 45px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: black;
    background-color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.Shop {
    transition: all 0.3s ease;
  }
  
  .shrink {
    transform: scale(0.95);
  }

.login-button{
    width: 12%;
    height: 45px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: black;
    background-color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.login-button {
    transition: all 0.3s ease;
  }
  
  .shrink {
    transform: scale(0.95);
  }


/* body */



.container {
  width: 84.5%;
  height: 380px;
  position: relative;
  top: 100px;
  left: 8%;
  display: flex;
  justify-content: space-between;
}


.Categorize-box {
  width: 250px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border: 1px solid rgb(255, 89, 0);
}

.div-item {
  width: 100%;
  height: 12.5%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: rgb(98, 98, 98);
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.bottom-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-bottom: 2px solid rgb(87, 87, 87);
}


.bottom-border:hover {
  display: none;
}

.div-item i {
  margin-left: 10%;
}

.div-item:hover {
  background-color: rgb(229, 226, 226);
}



.img-container {
  width: 63%;
  height: 380px;
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border: 2px solid rgb(255, 89, 0);
  cursor: pointer;
}


.img-container {
  width: 75%;
  height: 100%;
  text-align: center;
}
.img-container img {
  max-width: 100%;
  height: 100%;
}



.icon {
 width: 50px;
 height: 50px;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(234, 177, 146);
 font-size: 30px;
 position: fixed;
 top: 700px;
 left: 93%;
 cursor: pointer;
 transition-duration: 0.4s;
}


.icon:hover {
  transform: scale(1.2, 1.2);
}


.icon i {
  color: rgb(255, 89, 0);
  font-size: 22px;
}

.window {
  display: none;
  position: absolute;
  width: 22%;
  height: 320px;
  margin-top: 300px;
  border-radius: 13px;
  margin-top: 380px;
  margin-left: 540px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}



.window-header {
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 45%;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

.basket-icon {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgray;
  font-size: 80px;
}

.window h4 {
  width: 100%;
  margin-left: 59%;
  font-family: "Quicksand", sans-serif;
}


.window-button {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-button button {
  width: 170px;
  height: 35px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: rgb(255, 89, 0);
  cursor: pointer;
}



.window__2 {
  display: none;
  width: 420px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}


.window-head {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  border-bottom: 2px solid darkgray;
}


#authorizationTab {
  transition-duration: 0.3s;
}

#registrationTab {
  transition-duration: 0.3s;
}

#authorizationTab:hover {
  color: rgb(255, 89, 0);
  cursor: pointer;
}

#registrationTab:hover {
  color: rgb(255, 89, 0);
  cursor: pointer;
}




.closing-button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgb(255, 89, 0);
  position: absolute;
  left: 90%;
  top: 3%;
  cursor: pointer;
}


.buttons  {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
}

.buttons button {
  width: 43%;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 13.5px;
  cursor: pointer;
  /* border: 1px solid rgb(255, 89, 0); */
}



.phone-number-form {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.phone-number-form select{
  width: 20%;
  height: 50px;
  border: none;
  background-color: rgb(212, 210, 210);
  border-radius: 11px;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.phone-number-form input{
  width: 75%;
  height: 50px;
  border-radius: 11px;
  border: none;
  outline: none;
  background-color: rgb(212, 210, 210);
  font-size: 20px;
}



.Submit-button {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid darkgray;
}

.Submit-button button {
  width: 100%;
  height: 50px;
  border-radius: 13px;
  font-size: 20px;
  border: none;
  background-color: rgb(255, 89, 0);
  color: #fff;
  cursor: pointer;
}

.bottom-div {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.bottom-div .icons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;

}

.icons i {
  cursor: pointer;
}

